* {
font: 1em/1.3 Arial, Helvetica, sans-serif; 
}

p { 
color: #555; 
}

#primero p { 
color: #0035D4; 
}

a { 
color: #E30000; 
}

#primero em {
background: #FFFFCC; 
padding: .1em; 
}

em.especial { 
background: #FFCC99; 
border: 1px solid #FF9900;
padding: .1em; 
}

.normal span {
font-weight: bold; 
}